# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.p

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/.tasks
/.vscode/*
/build/*
/objs/*
/rogue/build/*
/rogue/objs/*
/rogue-clone.exe
/rogue-clone
/rogue.save
/rogue.1
/rogue.2
/ranking

